* {
    color: white;
}

button,
input {
    color: black;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: rgb(228, 221, 221);
}

h2 {
    color: rgb(255, 251, 122);
}

.interpolacion span {
    font-size: 1.3rem;
    font-family: monospace;
    font-style: italic;
    letter-spacing: 2px;
    color: thistle;
    display: block;
}